@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
	@apply btn btn-primary;
}

.text-prose {
	@apply text-gray-700;
}

.test1 {
	@apply border-2 border-red-700;
}

.test2 {
	@apply border-2 border-blue-700;
}

.test3 {
	@apply border-2 border-green-700;
}

.input {
	@apply border-2 border-gray-300 rounded-md p-2;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
